:root {
  --search-result-title: var(--purple-400);
}

.__sri-title {
  margin-bottom: 0px;
}

.search-result:has(:is(.__sri-title-box, .__sri-url-box) a:hover)
  :is(.__sri_title_link, .__sri-url),
.__srgi-title a:hover {
  text-decoration: underline;
}

.__sri-title ._0_URL:is(:hover, :not(:hover)) {
  border-bottom: unset;
}

img.__domain-favicon {
  background-color: white;
  box-shadow: 0px 0px 2px 2px white;
}

header.app-header.app-content-box {
  position: sticky;
  top: 0;
  z-index: 150;
  background: rgba(26, 28, 35, 0.8);
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(15px);
  border-bottom: 1px solid rgba(35, 35, 37, 0.3);
}
