/* Trying to make result titles look/behave a bit more like Google's */
:root {
  --primary-visited: var(--primary-hover);
  --search-result-title: var(--primary-hover);

  /* Turn off Kagi's image brightness filter */
  --image_brightness: 100%;
  --landing-page-clouds-opacity: 1;

  /* Modal transparency */
  --modal-bg: rgb(from var(--app-bg) r g b / 0.8);

  /* Custom thin border */
  --custom-border: 1px solid var(--primary-100);
}

.__sri-title {
  margin-bottom: 0px;
}

.search-result:has(:is(.__sri-title-box, .__sri-url-box) a)
  :is(.__sri_title_link, .__sri-url),
:is(.__srgi-title, .wikipediaResult) a {
  text-decoration: underline transparent;
  transition: text-decoration-color 110ms ease-in;
}

.search-result:has(:is(.__sri-title-box, .__sri-url-box) a:hover)
  :is(.__sri_title_link, .__sri-url),
:is(.__srgi-title, .wikipediaResult, .wikipediaResult .wiki-title) a:hover {
  text-decoration-line: underline;
  text-decoration-color: unset;
  transition: none;
}

.__sri-title ._0_URL,
:is(.wikipediaResult, .wikipediaResult .wiki-title) a {
  &:is(:hover, :not(:hover)) {
    border-bottom: unset;
  }
}

/* Favicons are a bit hard to see in Kagi's dark mode - this is a first attempt at making it a bit better */
img.__domain-favicon {
  background-color: white;
  box-shadow: 0px 0px 2px 2px white;
}

/* Some Wikipedia box main images don't work well on dark background */
.wiki-image a img {
  background-color: white;
}

/* Making the header sticky and transparent. Source (modified a bit): https://github.com/pdanzma/kagi-css/blob/51c7689c9657bea293f14b9acba6d773c201b3a6/custom.css#L74 */
header.app-header.app-content-box {
  max-width: unset;
  position: sticky;
  top: 0;
  z-index: 100;
  background: rgb(from var(--app-bg) r g b / 0.7);
  box-shadow: 0 4px 15px var(--box-shadow);

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    backdrop-filter: blur(10px);
    z-index: -1;
  }
}

/* Make sure the "Quick Answer" info tooltip shows above the header */
.tooltip.end.tooltip_base.top {
  z-index: 114;
}

/* Visually separate the Summary Box a bit more from the main search result list */
.right-content-box > div {
  border-left: var(--custom-border);
  padding-left: 20px;
}

/* Make search suggestion highlight more prominent */
.auto_suggestions
  > .suggestions_area
  > .auto_suggestions_in
  > .auto_item.highlighted {
  background-color: var(--inline-widget-hover-bg);
}

/* Top nav underline should have full width */
.app-nav {
  border-bottom: unset;
}

header.app-header.app-content-box {
  border-bottom: var(--custom-border);
}

/* Tweaking modals */
.advanced-search-modal {
  overflow: hidden;
  backdrop-filter: blur(10px);

  & .as-footer {
    box-shadow: unset;
  }
}

.k_ui_dropdown_data_list {
  z-index: 99;
}

.sidebar-filter-nav-form :is(.dropdown .dd-list, .k_ui_dropdown_data_list) {
  backdrop-filter: blur(8px);
  top: 32px;
}

.dropdown .dd-list li.sep {
  border-bottom: var(--custom-border);
}

.k_ui_dropdown_data_list .list_items hr {
  border-top: var(--custom-border);
}

.k_ui_dropdown_data_list, .quick-settings {
  backdrop-filter: blur(8px);
}

.domain-info-modal {
  backdrop-filter: blur(10px);
  outline: var(--custom-border);

  & .d-info-box-title-header {
    background: unset;
    background-color: hsla(0,0%,100%,.04);
    border-bottom: var(--custom-border);
    
    & * {
      color: var(--primary-700);
    }

    & ._0_d-info-domain-name {
      background-color: hsla(0,0%,100%,.04);
    }
  }

  & .d-info-body {
    background: unset;
    border-top: var(--custom-border);
  }
}
