/* Trying to make result titles look/behave a bit more like Google's */
:root {
  --search-result-title: var(--purple-400);
}

.__sri-title {
  margin-bottom: 0px;
}

.search-result:has(:is(.__sri-title-box, .__sri-url-box) a)
  :is(.__sri_title_link, .__sri-url),
.__srgi-title a {
  text-decoration: underline transparent;
  transition: text-decoration-color 75ms ease-out;
}

.search-result:has(:is(.__sri-title-box, .__sri-url-box) a:hover)
  :is(.__sri_title_link, .__sri-url),
.__srgi-title a:hover {
  text-decoration-color: unset;
  transition: none;
}

.__sri-title ._0_URL:is(:hover, :not(:hover)) {
  border-bottom: unset;
}

/* Favicons are a bit hard to see in Kagi's dark mode - this is a first attempt at making it a bit better */
img.__domain-favicon {
  background-color: white;
  box-shadow: 0px 0px 2px 2px white;
}

/* Making the header sticky and transparent. Source (modified a bit): https://github.com/pdanzma/kagi-css/blob/51c7689c9657bea293f14b9acba6d773c201b3a6/custom.css#L74 */
header.app-header.app-content-box {
  position: sticky;
  top: 0;
  z-index: 114;
  background: rgba(26, 28, 35, 0.8);
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(15px);
  border-bottom: 1px solid rgba(35, 35, 37, 0.3);
}
